* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

.header {
	width: 100%;
	height: 200px;
	background-color: blue;
	position: fixed;
	top: 0;
}

.main {
	width:100% ;
	height: 300px;
	position: fixed;
	top: 20px;
}

.icon {
	justify-content: flex-end;
}


.card-body {
	border: 1px solid #153d77;
	margin: 20px 10px;
	background-color: #E9ECEF;
	
}
.input-date {
	width: 35%;
}


select {
	width: 20%;
	display: inline-block;
}

label {
	width: 17%;
	margin-left: 2px;
}
label.stylel{
	width: 25%;
}

.input-disabled {
	width: 30% ;
}

.input-disabled-1 {
	width: 12%;
}
.input-disabled-2 {
	width: 15% ;
}
.input-disabled-3 {
	width: 53% ;
}

.select-1 {
	width: 13% ;
}

.select-2 {
	width: 25%;
}

.input-text {
	width: 53% ;
}
.input-text-1 {
	width: 28% ;
}

.input-table,
.select-table {
	width: 65px;

	margin-left: 5px;
}

.main-table {
	overflow-y: scroll;
	height: 320px;
	flex-wrap: nowrap;
}
.table th {
	background-color: #007bff;
}
